page-custom-dialog {
    > .content {
      background: none;
      > .scroll-content {
        background: none;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        /* animation-name: aplha-dark-bg-in;
        animation-duration: 300ms;
        animation-delay: 400ms;
        animation-fill-mode: forwards; */
      }
    }
    /*   @keyframes aplha-dark-bg-in {
      0% {
        background-color: transparent;
      }
      100% {
        background-color: rgba(0, 0, 0, 0.6);
      }
    } */
    .dialog-wrapper {
      position: relative;
      top: -11vh;
      > .close-button {
        position: absolute;
        width: 1.9rem;
        height: 1.9rem;
        padding: 0;
        box-sizing: border-box;
        font-size: 1.7rem;
        color: #fff;
        background-color: #929292;
        border-radius: 50%;
        right: -0.7rem;
        top: -0.7rem;
        text-align: center;
        line-height: 1.8rem;
        /* display: flex;
        align-items: center;
        justify-content: center; */
      }
      > .dialog-content {
        width: 76vw;
        min-height: 12.2rem;
        background-color: #fff;
        border-radius: 0.8rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        > .icon {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding-bottom: 1rem;
          i {
            font-size: 2.6rem;
            font-weight: 500;
          }
          &.error {
            > picasso-icon {
              margin-top: auto;
              .picassoicon::before {
                // color: transparent;
                // background: linear-gradient(bottom, #ff5a5a 0%, #fc9f7a 100%);
                // -webkit-background-clip: text !important;
                // background-clip: text !important;
                color: #ff5a5a;
              }
            }
          }
          &.warning {
            > picasso-icon {
              margin-top: auto;
              .picassoicon::before {
                // color: transparent;
                // background: linear-gradient(bottom, #ffcd4a 0%, #fba656 100%);
                // -webkit-background-clip: text !important;
                // background-clip: text !important;
                color: #ffcd4a;
              }
            }
          }
          &.success {
            > picasso-icon {
              margin-top: auto;
              .picassoicon::before {
                // color: transparent;
                // background: linear-gradient(bottom, #3de0da 0%, #c3d97b 100%);
                // -webkit-background-clip: text !important;
                // background-clip: text !important;
                color: #3de0da;
              }
            }
          }
        }
        > .content {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #787878;
          text-align: center;
          padding-bottom: 2rem;
          > .title {
            padding: 0 0.5rem;
            padding-bottom: 0.5rem;
            color: #586576;
            font-size: 1.8rem;
            font-weight: 500;
          }
          .sub-title {
            padding: 0 0.5rem;
          }
          .message {
            padding: 1rem 1.5rem;
            line-height: 2rem;
          }
        }
        > .buttons {
          width: 100%;
          background: linear-gradient(top, #f0f0f0 0%, #f0f0f0 100%);
          background-size: 1px 1px;
          background-repeat: repeat-x;
          height: 4.2rem;
          display: flex;
          flex-direction: row;
          button:first-child {
            border-right: 1px solid #f0f0f0;
          }
          > button {
            flex: 1;
            height: 100%;
            line-height: 4.2rem;
            text-align: center;
            background-color: transparent;
            color: #9cc9ec;
            font-size: 1.8rem;
            margin: 0;
            &.cancel{
              color: #666;
            }
            &.ok {
              background-color: #ff6769;
              color: #fff;
            }
          }
        }
      }
    }
  }
  