page-login {
    .network {
        position: absolute;
        color: #9cc9ec;
        top: 2rem;
        left: 6vw; //12.5(form-padding)*2/3 - 1rem~
        padding: 1rem;
        font-size: 1.4rem;
    }
    .scroll-content {
        background-image: url('../assets/imgs/setting-bj.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .account-icon {
        margin-top: 18vh;
        margin-bottom: 1.4rem;
        height: 6rem;
        // background-color: rebeccapurple;
        line-height: 6rem;
        text-align: center;
        background-image: url('../assets/imgs/login-icon-bj.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom left;
        margin-bottom: 1.4rem;
        i {
            font-size: 7rem;
            color: #c6e6ff;
        }
    }
    .account-input-group {
        padding: 1vh 12.5vw 5vh;
    }
    .account-input {
        
        margin-bottom: 1.2rem;
        .account-label {
            color: #9ca8b7;
            font-size: 1.4rem;
            margin-bottom: 0.2rem;
        }
        ion-item {
            background-color: transparent;
            min-height: 2.8rem !important;
            border-bottom: 1px solid #e5e8eb;
            .item-inner {
                padding-right: 0 !important;
                .input-wrapper {
                    padding-bottom: 0.5rem;
                }
                ion-thumbnail {
                    margin: 0 !important;
                    min-width: 0 !important;
                    min-height: 0 !important;
                    height: 100%;
                    color: #9cc9ec;
                    button {
                        color: #9cc9ec;
                        background-color: transparent;
                        width: 100px;
                        text-align: right;
                        padding: 0;
                        font-size: 14px;
                    }
                    picasso-icon {
                        margin: 0 !important;
                        position: relative;
                        bottom: 0.5rem;
                        i {
                            font-size: 3.2rem;
                            position: relative;
                            top: 2px;
                        }
                    }
                    &.thumbnail-phone {
                        line-height: 2.8rem !important;
                        border-bottom-width: 0px;
                        font-size: 1.5rem;
                        text-align: center;
                    }
                }
            }
        }
        ion-input {
            input {
                margin: 0 !important;
                font-size: 1.6rem;

            }
        }
    }
    
    .account-sub-btn {
        margin-top: 3.4rem;
        button {
            display: block;
            width: 95%;
            margin: 0 auto;
            background-color: #8acafb;
            color: #fff;
            border-radius: 5px;
            box-shadow: 3px 3px 9px 0px #e0e0e0; 
        }
    }
    
}
