// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.header-no-border {
    .toolbar-background {
      border: none !important;
    }
    > ion-content {
      > .scroll-content {
        top: -0.55px;
      }
    }
}
.alert-head {
    .alert-title {
        margin-bottom: 16px;
    }
}
.alert-button {
    .button-inner {
        color: #000;
    }
}

.toast-message {
    text-align: center;
}
::-webkit-scrollbar { display: none !important; }

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0;
}
.toolbar-background-ios {
    background: transparent;
}
// button统一

button {
  
    font-size: 2rem;
    padding: 1.12rem 0;
    font-weight: 500;
    transform: scale(1.02);
}

// 消息角标
.tab-badge {
    background: #f96c6c;
}

// 超出隐藏省略号
.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 侧边栏
.menu-account-info {
    >.menu-account-info-header {
        display: flex;
        margin-bottom: 20px;
        >.menu-account-info-header-logo {
            width: 60px;
            height: 60px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-image: url('../assets/imgs/account-logo.png');
            margin-right: 1rem;
            flex-shrink: 0;
        }
        >.menu-account-info-header-value {
            position: relative;
            font-size: 2rem;
            font-weight: 400;
            width: calc(100% - 60px);
           >div:nth-child(2) {
               position: absolute;
               bottom: 0px;
               padding: 0.2rem 1.5rem;
               color: #fff;
               font-size: 1.4rem;
               background-color: color($colors, gray-blue);
               border-radius: 5px;
           }
        }
    }
    >.menu-account-info-last {
        font-size: 1.5rem;
        color: #9ca8b7;
    }
}
.menu-account-handle {
    padding-top: 1.8rem;
    button {
        box-shadow: 0px 7px 11px -2px #f6f6f6;
        margin-bottom: 10px;
        i,div {
            color: #9cc9ec;
        }
        picasso-icon {
            width: 22px;
            display: inline-block;
            i {
                font-size: 2rem;
            }
        }
    }

}

// 充值、提现地址本旋转币种弹出框
.add-address {
    .action-sheet-group {

        button {
            color: #8abde4;
        }
    }
}
.action-sheet-ios {
    .action-sheet-cancel {
        font-weight: 500;
    }
}

ion-loading.logo-loading {
    .loading-wrapper {
      background: transparent;
      display: flex;
      flex-direction: column;
      padding: 0;
      > .loading-spinner {
        background-image: url("../assets/icon/loading-logo.png");
        // width: 16vw;
        // height: 21vw;
        // background-size: 600%;
        // background-repeat: no-repeat;
        // background-position: center 45%;
        width: 16vw;
        height: 16vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        animation-name: fadeDownUp;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
        > .spinner {
          display: none;
        }
      }
      > .loading-content {
        font-weight: normal;
        color: #fff;
        margin: 0;
        margin-top: 1rem;
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::after {
          content: ". . . . . .";
        }
      }
    }
}

.tip {
    text-align: center;
    line-height: 10rem;
    font-size: 2.2rem;
    color: #68778b;
    font-weight: 500;
    text-shadow: 4px 4px 2px #e0e0e0;
}
