<!--
  Generated template for the WithdrawAddressAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [class.change-background-color]="isChangeBackground">

  <ion-navbar>
    <ion-title  class="page-wrapper">
      (占位)
      <div class="first-step withdraw-title" [ngClass]='pageStatus'  *ngIf="withdrawAddressAddType == 'create'? true : false">生成数量</div>
      <div class="second-step withdraw-title" [ngClass]='pageStatus'  *ngIf="withdrawAddressAddType == 'create'? true : false">新增提现地址</div>
      <div class="first-step withdraw-title" *ngIf="withdrawAddressAddType == 'create'? false : true">新增提现地址</div>
    </ion-title>
    <div class="handler-address-btn" (click)="handlerNextOrAdd()">{{pageStatus == "first" ? "下一步" : "完成"}}</div>
  </ion-navbar>
 

</ion-header>


<ion-content padding [class.change-background-img]="isChangeBackground">
  
  <ng-container *ngIf="withdrawAddressAddType == 'create'">
      <div class="page-wrapper">
        <div class="first-step" [ngClass]='pageStatus'>
          <div class="page-tip">
            {{product}} 提现地址生成数量
          </div>
          <div class="create-first">
            <div class="create-first-number">
              <ion-item>
                  <ion-input type="number" max="100" min="0" step="1" [(ngModel)]="createAddressNumber"></ion-input>
              </ion-item>
            </div>
            <div class="create-first-number-btn">
              <div class="create-first-number-add-btn" (click)="handlerAddressNumberInput('-')">
                <picasso-icon name='picasso-sub'></picasso-icon>
              </div>
              <div class="create-first-number-sub-btn" (click)="handlerAddressNumberInput('+')">
                <picasso-icon name='picasso-add'></picasso-icon>
              </div>
            </div>
          </div>
        </div>
        
        <div class="second-step" [ngClass]='pageStatus'>
          <div class="page-tip">
            此次操作批量生成{{createPage.addressCount}}个{{product}}地址 
          </div>
          <div class="second">
            <div class="second-input">
                <div class="second-input-name">
                  <ion-item>
                      <ion-input type="text"></ion-input>
                  </ion-item>
                </div>
                <div class="second-input-address">
                  <ion-item>
                      <ion-input type="text" disabled></ion-input>
                  </ion-item>
                </div>
            </div>
            <div class="second-input">
                <div class="second-input-name">
                  <ion-item>
                      <ion-input type="text"></ion-input>
                  </ion-item>
                </div>
                <div class="second-input-address">
                  <ion-item>
                      <ion-input type="text"></ion-input>
                  </ion-item>
                </div>
            </div>
          </div>
        </div>
      </div>
  </ng-container>

  <ng-container *ngIf="withdrawAddressAddType == 'import'">
      <div class="page-wrapper">
          <div class="first-step" [ngClass]='pageStatus'>
            <div class="page-tip">
              输入私钥内容至输入框, 请留意字符大小写。
            </div>
            <div class="import-first">
              <ion-item>
                  <ion-textarea placeholder="请输入明文私钥"></ion-textarea>
              </ion-item>
            </div>
          </div>
          
          <div class="second-step" [ngClass]='pageStatus'>
            <div class="second">
              <div class="second-input">
                  <div class="second-input-name">
                    <div class="input-label">地址名称</div>
                    <ion-item>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                  </div>
                  <div class="second-input-address">
                    <div class="input-label">地址</div>
                    <ion-item>
                        <ion-input type="text" disabled></ion-input>
                    </ion-item>
                  </div>
              </div>
            </div>
          </div>
        </div>

  </ng-container>



</ion-content>
