<!--
  Generated template for the WithdrawAddressListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>提现地址本</ion-title>
      <div  class="add-address-btn">
          <div (click)="askAddAddressType('create')">生成</div>
          <div (click)="askAddAddressType('import')">导入</div>
      </div>
    </ion-navbar>
    <!-- 地址类型 -->
  
    <div class="address-type">
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let product of productList,let i = index" (click)="handlerSelectProduct(product,i)">
              <span [class.select-product]="selectIndex == i">
                  {{product?.productName}}
              </span>
              <div class="bottom-line" [hidden]="selectIndex != i"></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      
    </div>
  </ion-header>
  
  
  
  <ion-content>

      <div *ngIf="!selectAddressList || selectAddressList.length == 0" class="tip">
        暂无数据  
      </div>
      <ion-list class="address-group">
          <!-- <ion-item  >
            
          </ion-item> -->
          <ion-item *ngFor="let address of selectAddressList" class="address-item" [class.disable]="address?.addressClass != '0'">
              <div class="item-group">
                  <ion-avatar item-start class="product-logo">
                      <img src="assets/imgs/{{selectProduct?.productName | lowercase}}-logo.png">
                  </ion-avatar>
                  <div>
                      <h2>{{address?.addressName || (selectProduct?.productName + "充值地址")}}</h2>
                      <p>{{address?.rechargeWithdrawAddress}}</p>
                  </div>
                </div>
                <picasso-icon name="picasso-disable" (click)="askAddressEnabled(address)"></picasso-icon>
            </ion-item>
        </ion-list>
  </ion-content>
  